@charset "UTF-8";

:root{
    --texto-color: #333;
    --texto-tamaño: 18px;
    --texto-sombra: -1px 2px 3px #777;
    --caja-sombra: -1px 2px 3px #999;
    --caja-sombra-interior: inset 1px 1px 3px #999;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

article{
    margin: 0px 150px;
}

header{
}

nav{
}

#main_menu{
}

#main-menu ul{
    display: flex;
    list-style: none;
}

#main-menu ul li{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

#main-menu ul li:hover{
    background-color: red;
}

#main-menu ul li a{
    color: #222;
    text-decoration: none;
}

footer{
    color: white;
    height: 250px;
    background-color: #222;
    text-shadow: -1px 2px 2px #000;
}

/**
 * MODULE
 */

 .mod-table{
    color: white;
    font-size: 16px;
}

.mod-table tr{
    display: flex;
    flex-wrap: wrap;
}

.mod-table tr td{
    height: 110px;
    flex-basis: 110px;
    overflow: hidden;
    padding-top: 15px;
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around;
    background-color: #222;
}

.mod-table tr td:hover{
}

.mod-table tr td p{
    margin: 0px;
    line-height:0px;
}
.mod-table tr td p:nth-child(1){color:Khaki; font-size: 2em;}
.mod-table tr td p:nth-child(2){font-size: 1em;}
.mod-table tr td p:nth-child(3){color:orange;font-size: .8em;}

.mod-table tr td p:nth-child(2):hover{
    /* position: absolute; */
}