@charset "UTF-8";

:root{
    --texto-color: #333;
    --texto-tamaño: 18px;
    --texto-sombra: -1px 2px 3px #777;
    --caja-sombra: -1px 2px 3px #999;
    --caja-sombra-interior: inset 1px 1px 3px #999;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
}

article{
    margin: 0px 150px;
}

header{
}

nav{
}

#main_menu{
}

#main-menu ul{
    display: flex;
    list-style: none;
}

#main-menu ul li{
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

#main-menu ul li:hover{
    background-color: red;
}

#main-menu ul li a{
    color: #222;
    text-decoration: none;
}

footer{
    color: white;
    height: 250px;
    background-color: #222;
    text-shadow: -1px 2px 2px #000;
}