<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]

    #RewriteRule ^es/html$ view/es/html.html
    #RewriteRule ^es/sesion$ view/es/sesion.html
    #RewriteRule ^es/registro$ view/es/registro.html
    #RewriteRule ^scraping$ view/es/scraping.html
</IfModule>