<article>
    <h1>Practica JavaScript</h1>
    <p>
        este es mi primer cambio en html, y voy a comprobarlo con git
    </p>
    <h1>Introducción</h1>
    <p>HTML es uno de los primeros lenguajes que se deben conocer para introducirse en el maravilloso mundo del desarrollo web. Puede decirse hoy, con toda seguridad, que la web es una tecnología que ha permitido que la información llegue a casi todas las personas del mundo.</p>
</article>

<img src="https://loremflickr.com/640/360" alt="html">