<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../js/global.js"></script>
    <link href="../../css/styles.css" type="text/css" rel="stylesheet">
    <title>HTML - Tutorial</title>
    <script>
        if(!sessionStorage.getItem('lang')){
            sessionStorage.setItem('lang', window.navigator.language.substring(0,2))
        };
    </script>
</head>
<body>
    <article>
        <h1>Introducción</h1>
        <p>HTML es uno de los primeros lenguajes que se deben conocer para introducirse en el maravilloso mundo del desarrollo web. Puede decirse hoy, con toda seguridad, que la web es una tecnología que ha permitido que la información llegue a casi todas las personas del mundo.</p>
        <h1>Qué es HTML</h1>
        <p>HTML son las siglas de (<b>H</b>yper <b>T</b>ext <b>M</b>ark <b>L</b>anguage) ó lenguaje de marcado de hipertexto, es una de las principales tecnologías para la construcción de un sitio o una aplicación web. Con HTML es posible definir la estructura de una página web.</p>
        <p>HTML no es un lenguaje de programación; es un lenguaje de marcado que define la estructura de tu contenido. HTML consiste en una serie de elementos que usarás para encerrar diferentes partes del contenido para que se vean o comporten de una determinada manera. Las etiquetas de encierre pueden hacer de una palabra o una imagen un hipervínculo a otro sitio, se pueden cambiar palabras a cursiva, agrandar o achicar la letra, etc.</p>
        <hr>
        <h1>Encabezados</h1>
        <p>Los encabezados HTML o heading tags son etiquetas de código HTML que se utilizan para definir los títulos y subtítulos de una página. Además, son una potente herramienta de SEO (Search Engine Optimization) ya que, gracias a estos encabezados HTML podemos brindarle jerarquía a la información e indicarle a los motores de búsqueda de qué va el contenido de nuestra página web.</p>
        <h1>Encabezado h1</h1>
        <h2>Encabezado h2</h2>
        <h3>Encabezado h3</h3>
        <h4>Encabezado h4</h4>
        <h5>Encabezado h5</h5>
        <h6>Encabezado h6</h6>
        <hr>
        <h1>Párrafos</h1>
        <p>En un documento HTML, para escribir un párrafo se usa el elemento "p", cuyas etiquetas de inicio y fin son, respectivamente: &lt;p&gt; y &lt;/p&gt;.</p>
        <h1>Entidades de carácter en HTML</h1>
        <p>Las entidades de carácter son referencias a un carácter y se representa con la sintaxis <mark class="code">&amp;nombre;</mark>. Para mostrar el código html como texto utilizaremos éstas dos entidades de carácter:</p>
        <p>Una entidad HTML es un conjunto de caracteres ("string") que comienza con un ampersand ( & ) y termina con un punto y coma (;) . Las entidades son utilizadas frecuentemente para imprimir en pantalla caracteres reservados (aquellos que serían interpretados como HTML por el navegador) o invisibles (cómo tabulaciones).</p>
        <div id="entidades"></div>
        <h2>Lista Ordenada</h2>
        <p>Lista ordenada me permite crear una lista enumerada de elementos de un conjunto objetos, personas, ciudades, etc...</p>
        <ol id="OrderList">
            <li>Tema 1</li>
            <li>Tema 2</li>
            <li>Tema 3</li>
        </ol>
        <h2>Lista Desordenada</h2>
        <ul name="unOrderList">
            <li>Tema 1</li>
            <li>Tema 2</li>
            <li>Tema 3</li>
        </ul>
    </article>
    <footer name="footer">
        <p>All right reserved.</p>
    </footer>
</body>
</html>